[submodule "ingydotnet.git-hub"]
	path = ingydotnet.git-hub
	url = https://github.com/ingydotnet/git-hub.git
[submodule "mdrotthoff.git-rcs-keywords"]
	path = mdrotthoff.git-rcs-keywords
	url = git@github.com:mdrotthoff/git-rcs-keywords.git
[submodule "ingydotnet.git-subrepo"]
	path = ingydotnet.git-subrepo
	url = https://github.com/ingydotnet/git-subrepo.git
[submodule "uvsmtid.git-group"]
	path = uvsmtid.git-group
	url = https://github.com/uvsmtid/git-group.git
[submodule "chrisk.git-extras"]
	path = chrisk.git-extras
	url = https://github.com/chrisk/git-extras
[submodule "nvie.gitflow"]
	path = nvie.gitflow
	url = https://github.com/nvie/gitflow.git
[submodule "nvie.git-toolbelt"]
	path = nvie.git-toolbelt
	url = https://github.com/nvie/git-toolbelt.git
[submodule "gruntwork.pre-commit"]
	path = gruntwork.pre-commit
	url = https://github.com/gruntwork-io/pre-commit.git
